@model List<CreApps.StarterKit.Models.Ticket>
@{
    ViewData["Title"] = "Index";
}

<h1 class="h2 font-weight-semibold mb-4">Tables</h1>

<div class="card mb-4">
    <header class="card-header">
        <h2 class="h3 card-header-title">Basic Table</h2>
        <a class="btn btn-info" asp-action="Create">Registrar Ticket</a>
    </header>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Subject</th>
                        <th>Type</th>
                        <th>Priority</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model)
                    {
                        <tr>
                            <td>@ticket.Id</td>
                            <td>@ticket.Subject</td>
                            <td>@ticket.Type.TicketTypeName</td>
                            <td>@ticket.Priority.PriorityName</td>
                            <td>@ticket.Status.StatusName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

